{% extends 'baseView.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center col-12 mt-5 p-4 text-white rounded bg-dark">
            <div class="col-md-5 px-0">
                <h1 class="display-4 fst-italic">{{ title }}</h1>
                <p class="lead my-3">Посадочная страница, предназначенная для размещения краткой информации о компании, номера телефонов, соцсети и т.д.</p><p class="lead" style="font-size: 12pt;">Этот проект написан на php framework symfony.</p>
                <p class="lead mb-0"><a href="https://t.me/DL_Whatasoft" type="button" class="btn btn text-white fw-bold"><i class="fab fa-telegram-plane"></i>  По всем вопросам</a></p>
            </div>
        </div>
    </div>
{% endblock %}
