{% extends 'baseView.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
 <div class="container-fluid">
    <div class="row no-gutters justify-content-center mt-5">
        <div class="col-12">
            <h1 class="display-4 center-heading lead">
                {{ title }}
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-offset-1 m-md-2 lead">
            <div class="row">
                <div class="col-4 margin5">
                    <div class="item-img-wrap ">
                        <img style="width: 50%;" src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-responsive" alt="workimg">
                    </div>
                    <div class="work-desc">
                        <h3>Михаил</h3>
                        <span>Директор</span>
                    </div>
                </div>
                <div class="col-4 margin5">
                    <div class="item-img-wrap ">
                        <img style="width: 50%;" src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-responsive" alt="workimg">
                    </div>
                    <div class="work-desc">
                        <h3>Юрий</h3>
                        <span>Аналитик</span>
                    </div>
                </div>
                <div class="col-4 margin5">
                    <div class="item-img-wrap ">
                        <img style="width: 50%;" src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-responsive" alt="workimg">
                    </div>
                    <div class="work-desc">
                        <h3>Олег</h3>
                        <span>Программист</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 margin5">
                    <div class="item-img-wrap ">
                        <img style="width: 50%;" src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-responsive" alt="workimg">
                    </div>
                    <div class="work-desc">
                        <h3>Елена</h3>
                        <span>Основатель компании</span>
                    </div>
                </div>
                <div class="col-4 margin5">
                    <div class="item-img-wrap ">
                        <img style="width: 50%;" src="https://bootdey.com/img/Content/avatar/avatar4.png" class="img-responsive" alt="workimg">
                    </div>
                    <div class="work-desc">
                        <h3>Андрей</h3>
                        <span>Бухгалтер</span>
                    </div>
                </div>
                <div class="col-4 margin5">
                    <div class="item-img-wrap ">
                        <img style="width: 50%;" src="https://bootdey.com/img/Content/avatar/avatar5.png" class="img-responsive" alt="workimg">
                    </div>
                    <div class="work-desc">
                        <h3>Георгий</h3>
                        <span>Менеджер по продажам</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}
