{% extends 'baseView.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center mt-5">
            <div class="col-12">
                <h1 class="display-6 text-danger text-left">
                    Методы анализа веб-ресурсов
                </h1>
                <div class="lead">
                    <p class="description">
                        Анализ веб-ресурса занимает достаточно много времени и требует различных подходов, чтобы найти потенциал для роста. </p>

                    <p class="description">В основном анализируют:</p>
                    <ul class="col-3">
                        <li>Посещаемость</li>
                        <li>Целевая аудитория</li>
                        <li>Технические ошибки</li>
                        <li>Источники трафика</li>
                        <li>Коммерческие показатели</li>
                        <li>Конкурентов</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
